//start design
.design{
    padding: 72px 36px;
    position: relative;
    &__img{
    width: 76%;
        display: block;
        height: auto;
        padding-left: 36px;
    }
    &__sub{
        justify-content: center;
        position: absolute;
        float: right;
        padding-right: 36px;
        &-text{
            color: #e9168c;
            text-transform: uppercase;
            font-family: Quicksand;
            font-weight: 500;
            line-height: 1.2;
        }
        &-title{
            margin-top: 18px;
            font-size: 35px;  
            font-family: Quicksand;  
        }
        &-para{
            margin-top: 15px;
            font-size: 15px;
            color: #777;
            font-family: Quicksand;  
        }
        .per{
            display: flex;
            margin-top: 40px;
            &__item{
                padding-left: 150px;
                color: #e9168c;
                font-size: 24px;
            }
            &__item:first-child{
                padding-left: 0px;
                color: #e9168c;
                font-size: 24px;
            }
        }
    }
}